<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>气泡绘制</title>
    <link rel="stylesheet" href="./dist/css/style.css">
</head>
<body>
    <div
        id="echo"
        tabindex="-1"
        @click="fire"
        @keyup.enter="fire"
        @keyup.space="fire"
    >
        <div
            v-for="{good, classes, message, style} in msgs"
            v-if="good"
            :class="classes"
            :style="style"
        >
            {{ message }}
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="./js/index.js"></script>
</body>
</html>
